/* for paragraphs  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/* for headings  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
/* for heading  */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

/* for copyright */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/* 
profesional
 */
@import url("https://fonts.googleapis.com/css2?family=Catamaran&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background: rgb(30, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(30, 0, 36, 0.7456232492997199) 0%,
    rgba(44, 222, 187, 1) 0%,
    rgba(0, 151, 255, 1) 100%
  ); */
  /* background-color: rgb(198, 246, 246); */
}
hr {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3%;
}

a {
  text-decoration: none;
}
:root {
  --paraFont: "Open Sans", sans-serif;
  --subHeading: "Open Sans", sans-serif;
  --heading: "Ubuntu", sans-serif;
}
/* 
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 2% auto;
  border: 1px solid black;
} */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 95%; */
  margin: 0% auto;
  position: fixed;
  height: 10vh;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 1px 1px 7px rgb(125, 117, 117);
  /* background-color: rgb(198, 246, 246); */
  /* border-bottom: 1px solid black; */
}

.left img {
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 2px;
}
.left a {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: var(--heading);
  letter-spacing: 5px;
  color: black;
}

.left {
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.right a {
  padding: 0 20px;
  transition: all 1s ease;
  color: black;
  border-right: 1px solid black;
}
.right a:last-child {
  border: none;
}

.right a:hover {
  /* border-bottom: 3px solid black; */
  /* border: 1px solid black; */
  /* opacity: 0.5; */
  /* font-size: 1.2rem; */
  font-weight: bold;
}

/* ---------------------content */
.content {
  /* border: 2px solid black; */
  /* border-radius: 10px;
  width: 90%;
  padding: 5%;
  box-shadow: 1px 1px 5px rgb(13, 54, 59); */

  margin: 11% auto;
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: center;
  justify-content: space-around;
}

.about {
  max-width: 30%;
}
.about .item {
  margin-bottom: 2%;
}

/* .content p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

.content img {
  height: 450px;
  max-width: 100%;
  /* border: 2px solid black; */
  border-radius: 100%;
  background-color: #1db655;
  /* border-radius: 42% 58% 56% 44% / 17% 34% 66% 83%; */
}
.content a h2:hover {
  background-color: rgb(65, 232, 126);
}

.about h1 {
  font-size: 2rem;
}
.about a h2 {
  font-size: 1.2rem;
  display: inline-block;

  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 0% 4%;
  background-color: #1db655;
  color: white;
  font-family: "Catamaran", sans-serif;
}
h1 {
  font-family: var(--heading);
  font-size: 3rem;
}
h2 {
  font-family: var(--subHeading);
  font-size: 2rem;
  /* opacity: 0.5; */
}

p {
  font-family: var(--paraFont);
  line-height: 1.7rem;
  /* font-weight: 300; */
}

/* --------aboutme  */
.aboutme {
  /* border: 2px solid black; */
  max-width: 95%;
  display: flex;
  margin: 0% auto;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}
.aboutme .aboutDev {
  max-width: 50%;
  /* display: flex; */
  /* flex-direction: column; */
}
.aboutme .aboutDev {
  color: #3f3f46;
  font-family: "Catamaran", sans-serif;
}

.aboutme .aboutDev .info {
  margin: 5% 0;
}
.aboutme .aboutDev p {
  font-size: 1rem;
}
/* -----> */
.aboutme .aboutDev .resumelink {
  max-width: 15%;
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 0.5% 2%;
  background-color: #1db655;
  color: white;
}
.aboutme .aboutDev .resumelink a {
  color: white;
}
.aboutme .aboutDev .resumelink:hover {
  background-color: #6dee9c;
  cursor: pointer;
}
.aboutme .aboutDev .resumelink img {
  height: 15px;
}
.aboutme .socialLinks {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.aboutme .socialLinks img {
  height: 40px;
  border-radius: 50%;
  transition: all 5s ease;
}
.aboutme .socialLinks .pic1 {
  transition: 1s;
}
.aboutme .socialLinks .pic1:hover {
  content: url("/Portfolio/images/colorimg/linkedin.png");
}
.aboutme .socialLinks .pic2:hover {
  content: url("/Portfolio/images/github.png");
}
.aboutme .socialLinks .pic3:hover {
  content: url("/Portfolio/images/colorimg/instagram.png");
}
.aboutme .socialLinks .pic4:hover {
  content: url("/Portfolio/images/colorimg/facebook.png");
}

/* ------------------ */
.footer {
  /* margin-bottom: 5%; */
  /* margin: 5%; */
  height: 50vh;
  background-color: rgb(12, 12, 35);
}
.footer .contact div h1 {
  margin-top: 5%;
}
.contact {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  color: white;
}
#contacts {
  margin-top: 20%;
}
.contact h1 {
  text-align: center;
  margin-bottom: 5%;
}
.contactflex {
  display: flex;
  justify-content: space-around;
}

.contact h2,
p {
  font-size: 1.3rem;
}
.contact p {
  font-weight: 500;
}

.social img {
  height: 30px;
}
.creater p {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

/* .about me 
 */

button {
  background: transparent;
  margin-bottom: 2%;
  border-radius: 5%;
  padding: 3% 5%;
  transition: all 0.9s ease;
  font-family: var(--subHeading);
}
button h2 {
  font-size: 1rem;
}

#aboutme {
  display: none;
}

button:hover {
  color: black;
  background-color: rgb(151, 154, 238);
}

/* -------------skills-------------- */

.skills {
  max-width: 95%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  gap: 20%;
  text-align: center;
  justify-content: center;
  /* scroll-behavior: smooth; */
}

.skills h1 {
  font-family: var(--heading);
  margin-bottom: 2%;
  text-decoration: underline;
  margin: 5% auto;
}

.skills img {
  height: 40px;
  margin: 2% 5%;
  /* border-radius: 50%; */
  /* border: 2px solid black; */
  /* background-color: white; */
  /* /* padding: 1%; */
}
.contact div h1 {
  text-decoration: underline;
}
html {
  scroll-behavior: smooth;
}

/* Optional: Offset for fixed navbar */

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 2%;
  max-width: 80%;
  margin: 0 auto;
}

.grid div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  padding: 20%;
  max-width: 70%;
  margin: 0 auto;
  /* justify-content: center; */
  background-color: rgb(181, 225, 254);
  border-radius: 10%;
}
.parent div:hover {
  box-shadow: 1px 1px 5px rgb(39, 28, 28);
}

.parent div h4 {
  margin: 20%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}

.devloper {
  color: rgb(247, 135, 55);
  /* font-family: "Catamaran", sans-serif; */
}

/* 
-----------skill grid ----
   */

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  /* grid-column-gap: 10px; */
  /* grid-row-gap: 10px; */
  gap: 3%;
}

.parent div {
  padding: 20%;
  max-width: 70%;
  margin: 0 auto;
  /* justify-content: center; */
  background-color: rgb(181, 225, 254);
  border-radius: 10%;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 1 / 4 / 2 / 5;
}
.div5 {
  grid-area: 1 / 5 / 2 / 6;
}
.div6 {
  grid-area: 2 / 2 / 3 / 3;
}
.div7 {
  grid-area: 2 / 3 / 3 / 4;
}
.div8 {
  grid-area: 2 / 4 / 3 / 5;
}

.parent div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------------projects------------*/
.projects {
  margin-bottom: 20%;
}
.projects .subheading {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 5%;
}

.projects .projectitems {
  display: flex;
  justify-content: space-around;
}
.projects .projectitems div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(193, 227, 241);
  /* gap: 10%; */
  /* border: 1px solid black; */
  border-radius: 10px;
  height: 40vh;
  width: 20vw;
  /* padding: 5%; */
}
.projects .projectitems .proj:hover {
  box-shadow: 1px 1px 5px rgb(20, 7, 7);
}

.projects .projectitems img {
  height: 40px;
}
.project3 {
  width: 10%;
}
.projectitems a {
  border: none;
  border-radius: 5px;
  background-color: #1db655;
  padding: 0 5%;
  /* width: 100%; */
  color: white;
  font-family: "Catamaran", sans-serif;
}

.projectitems a:hover {
  background-color: #6dee9c;
}
.projectitems a,
h4 {
  font-family: "Catamaran", sans-serif;
}

/* education */

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  height: 50vh;
}
.education .head h1 {
  text-decoration: underline;
}
.education .educationsteps img {
  height: 150px;
}

.education .educationsteps {
  display: flex;
  margin-top: 10%;
  margin-bottom: 10%;

  gap: 5%;
}
.education .educationsteps div {
  width: 25vw;
  height: 50vh;
  /* padding: 10%; */
}
.education .educationsteps div h4.h5 {
  width: 100%;
}
.education .educationsteps .edu {
  /* border: 1px solid black; */
  border: none;
  box-shadow: 1px 1px 10px rgb(24, 16, 16);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.education .educationsteps .edu p {
  background-color: #1db655;
  border: none;
  padding: 0 10%;
  border-radius: 5px;
  color: white;
}
.education .educationsteps div h3,
h4,
h5,
p {
  font-family: "Catamaran", sans-serif;
}

#see {
  display: none;
  border: none;
  background-color: white;
}
#see img {
  height: 40px;
}
